.root {
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  padding: 0 20px;
  margin: 0 6px;
}

.text {
  color: #777;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  border-style: solid;
}

.container {
  display: flex;
  flex-direction: column;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.containerItem {
  margin: 0px;
}

.scorebar {
  width: 50%
}
.correct {
  background-color: green;
  list-style: none;
  text-align: center;
  float: left;
}

.incorrect {
  background-color: red;
  list-style: none;
  text-align: center;
  display:inline;
  float: left;
}
