.flexContainerRow {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:         row;

}
  .flexContainerColumn {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:         column;
  }
